#table_container
{
	text-align: center;
	outline: none;
	font-family: sans-serif;
	margin: 1.5% 0 0 1.5%;
}

#req_table
{
	text-align: center;
	vertical-align: middle;
}

.action_button
{
	width:25px;
	height:25px;
}

.view_button
{
	border: 1px solid #7531ce;
}

.view_button:hover
{
	color:white;
	background-color: #7531ce;
}